<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Live Location Updates
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="isNativePlatform" style="display: flex; flex-direction: column; gap: 15px; height: 100vh; justify-content: center; align-items: center;">
      <button style="padding: 10px;" (click)="stopBackgroundLocationTracking()">Stop Location Tracking</button>
      <button style="padding: 10px; background-color: green; color: white;" (click)="startBackgroundLocationTracking()">Start Location Tracking</button>
    </div>
  </ion-content>  
</ion-app>
