<ion-header>
  <ion-toolbar>
    <ion-title>
      Live Location Updates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="locations?.length; else loading">
    <div *ngFor="let location of locations; let i = index">
      <div class="location-entry">
        <p><strong>Timestamp:</strong> {{ location.timestamp }}</p>
        <p><strong>Latitude:</strong> {{ location.coords.latitude }}</p>
        <p><strong>Longitude:</strong> {{ location.coords.longitude }}</p>
      </div>

      <!-- Separator between location entries -->
      <div *ngIf="i < locations.length - 1" class="separator"></div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading live location...</p>
  </ng-template>
</ion-content>
